= form_for [@feedback, @comment], html: {:'data-abide' => true}, url: feedback_comments_path(@feedback.url) do |f|
  = f.text_area :content, placeholder: "Write your feedback", required: true

  = f.submit "Send feedback", class: "button radius"